<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="icon" href="/images/plant.png" type="image/png">
    <title>Plantie</title>
    <link rel="stylesheet" th:href="@{/css/index_css.css}"/>
</head>
<body>

<button id="SettingsButton" class="buttons" onclick="window.location.href='/settings'">Settings</button>

<div id="Elements">
    <h1 id="h1" th:text="${name}">My plant</h1>
    <img id="plantImage" src="/images/friendship.gif">
    <br>
    <h3 id="h3" class="hs">Moisture percentage:</h3>
    <p id="moistureValue" class="moisture-text"><span></span></p>
    <br>
    <br>
</div>
<script>
    function updateMoistureTextClass(moisture) {
        const moistureText = document.getElementById('moistureValue').querySelector('span');
        const moistureContainer = moistureText.parentNode; // Get the parent <p> element
        moistureText.innerText = moisture + "%";

        // Remove all moisture classes before adding a new one
        moistureContainer.classList.remove('moisture-low', 'moisture-medium', 'moisture-high');

        if (moisture >= 70) {
            moistureContainer.classList.add('moisture-high');
        } else if (moisture >= 40) {
            moistureContainer.classList.add('moisture-medium');
        } else {
            moistureContainer.classList.add('moisture-low');
        }
    }



    let previousMoistureValue = null;

    function updateMoisture() {
        fetch('/plant')
            .then(response => response.text())
            .then(data => {
                if (data !== previousMoistureValue) {
                    previousMoistureValue = data;
                    updateMoistureTextClass(data);
                }
            })
            .catch(error => console.error('Error fetching moisture data:', error));
    }

    setInterval(updateMoisture, 1000);
    updateMoisture();
</script>
</body>
</html>
